$white: #fff;
$violet: #5654db;
$pink: #e9d7fe;

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  border-radius: 8px;
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

%hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
