.footer {
  padding: 64px 7.77% 48px;
  background-color: #1c1c30;
}

.footer-wrapper {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.footer-items-wrapper {
  width: 280px;
  height: 240px;
  display: flex;
  flex-direction: column;
}

.footer-items-title {
  margin: 0 0 16px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #d0d5dd;
}

.footer-item {
  margin: 0 0 12px 0;
}

.footer-item-icon {
  margin-left: 7px;
}

.footer-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #eaecf0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.footer-item-link:hover {
  color: #e9d7fe;
}

.footer-copy {
  box-sizing: border-box;
  padding: 32px 0 0 0;
  border-top: 1px solid #475467;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-home-link {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-logo {
  width: 32px;
  height: 21px;
}

.footer-logo-text {
  margin: 0 0 0 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10.7422px;
  line-height: 13px;
  color: #fff;
}

.footer-copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d0d5dd;
}

@media (max-width: 650px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-items-wrapper {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: auto;
  }

  .footer-items-wrapper {
    width: 240px;
  }

  .footer-copy {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}
