<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-items-wrapper">
      <p class="footer-items-title">Возможности</p>
      <span class="footer-item"
        ><a class="footer-item-link" href="">Обзор продукта</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Возможности</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href=""
          >Отличия от программ<img
            class="footer-item-icon"
            src="../../assets/images/Badge.svg"
            alt="" /></a
      ></span>
      <span class="footer-item"
        ><a class="footer-item-link" href="">Параметры</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Информация об обновлениях</a></span
      >
    </div>
    <div class="footer-items-wrapper">
      <p class="footer-items-title">Помощь</p>
      <span class="footer-item"
        ><a class="footer-item-link" href="">Быстрый старт</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Справка</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Обучающие материалы</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Платные курсы</a></span
      >
    </div>
    <div class="footer-items-wrapper">
      <p class="footer-items-title">Тарифы</p>
      <span class="footer-item"
        ><a class="footer-item-link" href="">Тарифы</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Описания</a></span
      >
    </div>
    <div class="footer-items-wrapper">
      <p class="footer-items-title">Правовая информация</p>
      <span class="footer-item"
        ><a class="footer-item-link" href="">Условия работы</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Приватность</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Cookies</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Лицензирование</a></span
      >
      <span class="footer-item"
        ><a class="footer-item-link" href="">Обратная связь</a></span
      >
    </div>
  </div>
  <div class="footer-copy">
    <a href="#" class="footer-home-link">
      <img class="footer-logo" src="assets/images/logo.svg" alt="Лого" />
      <p class="footer-logo-text">СМЕТНЫЙ ОФИС</p>
    </a>
    <span class="footer-copyright"
      >© 2023 Все права защищены. Сметный офис</span
    >
  </div>
</footer>
