@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  position: relative;
  padding: 102px 0 192px;
  background-color: $violet;
}

.heading-text-up {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $pink;
}

.heading-title {
  position: relative;
  max-width: 768px;
  margin: 12px auto 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.02em;
  color: $white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.heading-text-down {
  position: relative;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $pink;
  z-index: 1;
}

.heading-group {
  display: flex;
  justify-content: center;
  margin: 48px 0 0;
}

.heading-button-demonstration {
  @extend %button;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  z-index: 1;
  padding: 16px 28px;
  margin-right: 12px;
  color: #344054;
  background-color: $white;
  border: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.heading-button-registration {
  @extend %button;
  padding: 16px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border-radius: 8px;
  z-index: 1;
  background-color: #1513ad;
  border: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: $white;
}

.heading-button-registration:hover {
  @extend %hover;
}

.heading-button-demonstration:hover {
  @extend %hover;
  color: $white;
  border: none;
}

.heading-button-registration.gradient-blue:hover {
  @include gradientBlue;
}

.heading-button-demonstration.gradient-violet:hover {
  @include gradientViolet;
}

.heading-button-icon {
  margin-right: 13px;
}

.heading-img {
  position: absolute;
  width: 62.2%;
  left: 22.2%;
  top: -5px;
  z-index: 0;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-104.28deg);
}

.heading-img-light {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: 0;
  mix-blend-mode: screen;
}

@media (max-width: 700px) {
  .heading-title {
    width: 70%;
    font-size: 42px;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .heading-group {
    flex-direction: column;
    align-items: center;
  }

  .heading-button-demonstration {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 500px) {
  .section {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .heading-title {
    font-size: 30px;
  }

  .heading-text-up,
  .heading-text-down {
    margin-right: 5%;
    margin-left: 5%;
  }

  .heading-button-demonstration,
  .heading-button-registration {
    padding: 10px 12px;
  }
}
