<div class="rate">
  <div class="heading-group">
    <h3 class="heading">Базовый тариф</h3>
    <div *ngIf="rate.bestseller" class="bestseller">Бестселлер</div>
  </div>
  <div class="price">
    <div class="price-value">{{ rate.price }}</div>
    <div class="price-time">{{ rate.time }}</div>
  </div>
  <p class="explanation">Программа с ТСН МГЭ на {{ rate.time }}</p>
  <button class="button-buy gradient-blue">Приобрести тариф</button>
  <button class="button-more gradient-violet">Подробнее</button>
  <div class="hr">
    <p class="support-text">Возможности</p>
    <div class="group">
      <img src="../../assets/images/check-circle.svg" alt="Изображение галочки." />
      <p class="group-text">
        База ТСН МГЭ <span class="group-text-italic">(56 дополнение)</span>
      </p>
    </div>
    <div class="group">
      <img src="../../assets/images/check-circle.svg" alt="Изображение галочки." />
      <p class="group-text">
        Индексы ТСН МГЭ <span class="group-text-italic">(2019 год)</span>
      </p>
    </div>
    <div class="group">
      <img src="../../assets/images/check-circle.svg" alt="Изображение галочки." />
      <p class="group-text">
        Индексы ТСН МГЭ, Глава 13
        <span class="group-text-italic">(2017 год)</span>
      </p>
    </div>
  </div>
</div>
