@import "../../styles/variables";
@import "../../styles/mixins";

.rate {
  width: 384px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 16px;
  box-sizing: border-box;
}

.heading-group {
  margin: 32px 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}

.bestseller {
  width: 107px;
  height: 28px;
  background: #f9f5ff;
  mix-blend-mode: multiply;
  border-radius: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $violet;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  margin: 0 32px 16px;
  display: flex;
  align-items: flex-end;
}

.price-value {
  margin: 0 4px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #101828;
}

.price-time {
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.explanation {
  margin: 0 32px 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.button-buy {
  @extend %button;
  width: 320px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  margin: 0 32px 12px;
  background-color: #1719dd;
  border: 1px solid #1719dd;
  color: #fff;
}

.button-more {
  @extend %button;
  width: 320px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  margin: 0 32px 32px;
  background-color: $white;
  border: 1px solid #d0d5dd;
  color: #344054;
}

.button-buy:hover {
  @extend %hover;
  border: none;
}

.button-more:hover {
  @extend %hover;
  color: $white;
  border: none;
}

.button-buy.gradient-blue:hover {
  @include gradientBlue;
}

.button-more.gradient-violet:hover {
  @include gradientViolet;
}

.hr {
  border-top: 1px solid #eaecf0;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.support-text {
  margin: 32px 32px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #101828;
}

.group {
  margin: 0 32px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.group:last-of-type {
  margin-bottom: 0;
}

%text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 26px;
  color: #000;
}

.group-text {
  @extend %text;
  margin: 0 0 0 12px;
  font-style: normal;
  font-weight: 700;
}

.group-text-italic {
  @extend %text;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 500px) {
  .rate {
    width: 100%;
    margin-right: 0;
  }

  .heading-group,
  .support-text,
  .price,
  .group {
    margin-left: 10.3%;
    margin-right: 10.3%;
  }

  .button-buy,
  .button-more {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .price-value {
    font-size: 36px;
    line-height: 44px;
  }

  .explanation {
    margin-left: 10.3%;
    margin-right: 10.3%;
    font-size: 12px;
    line-height: 18px;
  }
}
