<form class='register' action="">
  <h2 class='register-title'>Быстрая регистрация в Сметном офисе</h2>
  <p class='register-text'>Начните работу прямо сейчас</p>
  <input class='register-input' type="text" placeholder='Ваше имя'>
  <input class='register-input' type="text" placeholder='Почта'>
  <p class='register-caption'>Нажимая кнопку “Отправить” вы соглашаетесь на обработку персональных данных</p>
  <button class='register-button' type='submit'>Зарегистрироваться</button>
  <img class='register-img' src="../../assets/images/back_footer.svg" alt="">
</form>
