<section class="try">
  <div class="try-group">
    <div class="content">
      <h2 class="try-heading">Попробуйте Сметный офис</h2>
      <p class="try-text">
        Присоединяйтесь к сообществу сметчиков, нас уже более 5000+&nbsp;человек
      </p>

      <div class="buttons-group">
        <button class="try-button-more">Подробнее</button>
        <button class="try-button-begin">
          Начать использовать Сметный офис
        </button>
      </div>
    </div>
    <img class="try-pic" src="../../assets/images/image-try.png" alt="" />
    <img class="try-image" src="../../assets/images/ball1.svg" alt="" />
  </div>
</section>
