@import "../../styles/variables";
@import "../../styles/mixins";

.try {
  margin: 25px 7.77% 0;
  position: relative;
  overflow: hidden;
}

.try-group {
  display: flex;
  background-color: $violet;
  border-radius: 24px;
  justify-content: space-between;
}

.try-heading {
  margin: 13% 0 20px 8.69%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: $white;
}

.try-text {
  margin: 0 0 40px 8.69%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $pink;
}

.buttons-group {
  margin: 0 10px 0 8.69%;
  display: flex;
  gap: 12px;
}

.try-button-more {
  @extend %button;
  padding: 12px 20px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  background-size: 300% 100% !important;
  background: $white;
  color: #344054;
  border: 1px solid #d0d5dd;
}

.try-button-begin {
  @extend %button;
  padding: 12px 20px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  background-size: 300% 100% !important;
  background: #1719dd;
  border: 1px solid #1719dd;
  color: $white;
}

.try-button-begin:hover {
  @extend %hover;
  border: none;
}

.try-button-more:hover {
  @extend %hover;
  color: $white;
  border: none;
}

.try-button-begin.gradient-blue:hover {
  @include gradientBlue;
}

.try-button-more.gradient-violet:hover {
  @include gradientViolet;
}

.try-pic {
  width: 39.47%;
  border-radius: 0 24px 24px 0;
}

.try-image {
  width: 64%;
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: color-dodge;
}

@media (max-width: 1120px) {
  .try-heading {
    margin-top: 5%;
    font-size: 30px;
  }

  .try-text {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  %button {
    padding: 8px 12px;
  }
}

@media (max-width: 900px) {
  .try-heading,
  .try-text {
    text-align: center;
  }

  .buttons-group {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .try-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .try-pic {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    margin: 0 auto;
    z-index: 2;
  }

  .try-image {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .buttons-group {
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .try-heading,
  .try-text {
    margin: 16px 12%;
  }
}
