<section class="quote">
  <img class='quote-logo' src="../../assets/images/fictional-company-logo.svg" alt="" />
  <blockquote class='quote-wrapper'>
    <p class='quote-text'>
      Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный
      офис мне помог в этом
    </p>
  </blockquote>
  <figcaption class='quote-caption'>
    <img src="../../assets/images/Avatar.svg" alt="Аватар пользователя" />
    <p class='caption-name'>Симона Ли</p>
    <p class='caption-job'>Главный инженер Global Trust Investment</p>
  </figcaption>
</section>
